* {
	margin:0;
	padding:0;
}
body {
	width:960px;
	margin:0 auto;
}
#head {
	width:960px;
	background:#003366;
	margin:0 auto;
	border-bottom:2px solid #96d933;
}
#head img {
    float:left;
}
.search {
    text-align:right;
    padding:65px 20px 0 0;
}
.text {
    padding-right:10px;
    color:#ff4444;
}

.container {
    overflow: hidden;
    background-color: #ba0034;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #F5F5F5;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #fff4e6;
    color:#ba0034;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sign {
	text-align:right;
	padding:15px 10px 0 0;
}
/*end of navigation styling*/
#download {
    margin:20px 0 0 20px;
    display:inline-block;
    float:left;
}

#download h3 {
    padding-bottom:30px;
    text-decoration:underline;
    font-family:Tahoma, sans-serif;
}
#side  {
    padding:100px 100px 0 15px;
    float:left;
}
#side a {
    text-decoration:none;
}
#picture {
    padding-top:70px;
    text-align:right;
    margin-right:15px;
}
#related {
    margin-top:50px;
}
#other h3 {
    padding:10px;
    background:#333333;
    color:#f7f7f7;
    margin-bottom:25px;
}
#related1 {
    float:left;
    border:2px solid #eee;
    width:172px;
    text-align:center;
    margin-right:20px;
    margin-bottom:20px;
}


#related2 {
    float:left;
    border:2px solid #eee;
    width:172px;
    text-align:center;
    margin-right:20px;
}

#related3 {
    float:left;
    border:2px solid #eee;
    width:172px;
    text-align:center;
    margin-right:20px;
}


#related4 {
    float:left;
    border:2px solid #eee;
    width:172px;
    text-align:center;
    margin-right:20px;
}
#article {
    padding:10px 0 0 20px;
    background:#333333;
    clear:both;
}
#article h3 {
    font-weight:bold;
    color:#f7f7f7;
}
.article1 {
    width:200px;
    float:left;
    border:1px solid #003366;
    text-align:center;
    margin:15px 25px 10px 0;
}
.article1 img {
    padding:10px  0 0;
}
.article1 p {
    text-align:justify, center;
    width:200px;
    padding-bottom:20px;
}
.article1 a {
    text-decoration:none;
}
.article1 a:hover {
    color:#800000;
}
/*end of article1*/
.article2 {
    width:200px;
    float:left;
    border:1px solid #003366;
    text-align:center;
    margin:15px 25px 10px 0;
}
.article2 img {
    padding:10px  0 0;
}
.article2 p {
    text-align:justify,center;
    width:200px;
    padding-bottom:20px;
}
.article2 a {
    text-decoration:none;
}
.article2 a:hover {
    color:#800000;
}
/*end of article2*/
.article3 {
    width:200px;
    float:left;
    border:1px solid #003366;
    text-align:center;
    margin:15px 25px 10px 0;
}
.article3 img {
    padding:10px  0 0;
}
.article3 p {
    text-align:justify,center;
    width:200px;
    padding-bottom:20px;
}
.article3 a {
    text-decoration:none;
}
.article3 a:hover {
    color:#800000;
}
/*end of article3*/
.article4 {
    width:200px;
    border:1px solid #003366;
    text-align:center;
    margin:15px 10px 10px 0;
    float:left;
}
.article4 img {
    padding:10px 0 0 0;
}
.article4 p {
    text-align:justify,center;
    width:200px;
    padding-bottom:20px;
}
.article4 a {
    text-decoration:none;
}
.article4 a:hover {
    color:#800000;
}

#footer {
    background:#003366;
    clear:both;
}

#footer p {
    text-align:center;
    padding-top:10px;
    color:#eee;
}
#footer a {
    text-decoration:none;
    color:#ff4444;
}
#footer span {
    color:#ff4444;
}